/* Global attributes*/

* {
    font-family: 'Oswald', 'Open Sans', sans-serif;
    font-size: 1em;
}

body {
    max-width: 60%;
    color: #292f33;
    margin: auto;
    /* border: solid 2px #096da4; */
    /* padding: 20px; */
}

h1.page-title {
    font-size: 25px;
    margin-top: 0px;
}

/* header */

header,
footer {
    margin: 20px auto;
}

#head-container {
    margin: 15px;
    display: grid;
    grid-template-columns: [banner] 75% [time] 25%;
}

header .page-banner {
    height: 90px;
    display: inline-block;
}

#time {
    justify-content: center;
    align-self: center;
    font-size: 16px;
    line-height: 140%;
    font-family: 'Geo', sans-serif;
}

/* nav */

nav {
    display: inline-block;
    width: 100%;
}

nav ul,
nav ul li {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.nav-item {
    display: inline-block;
    width: calc(97% / 7);
    background: #b42719;
    list-style: none;
    margin: 0px;
    text-align: center;
}

.nav-item a {
    display: block;
    text-decoration: none;
    color: white;
    width: 100%;
    font-weight: 300;
    padding: 10px 0px;
}

.nav-item:hover {
    background-color: #096da4;
}

/* main */

main {
    display: inline-block;
    margin: auto;
    width: 100%;
    padding: 1em 1em;
}

.article-w-sidebar {
    width: 100%;
}

/* footer */

footer {
    background-color: #b42719;
    color: #ffffff;
    padding: 20px 0px;
    text-align: center;
}

/* sidebar */

.sidebar {
    display: none;
    width: 19.33%;
    height: auto;
}

/* page specific */

/* Homepage */

#main-text {
    width: 64%;
    display: inline-block;
}

/* Services page */

.column {
    display: inline-block;
}

.inline-img {
    display: inline-block;
    width: 400px;
    margin: auto 0px;
    margin-left: 5px;
}

.inline-img img {
    width: 100%;
}

.dl-bold dt {
    font-weight: bold;
    line-height: 2em;
}

#slide-container {
    width: 350px;
    height: 350px;
    margin: auto;
}

#slider {
    height: inherit;
    width: inherit;
}

/* Forms */

div.form-container {
    display: inline-block;
    min-width: 100%;
    text-align: center;
    padding: 0px;
}

#feedback-form {
    display: inline-block;
    margin: auto;
}

#service-request-form {
    /*border: blue 1px dashed;*/
    display: block;
    margin: auto;
    text-align: left;
}

.form-field {
    display: flex;
    padding: 1px;
    margin: 1px;
}

label {
    display: inline-flex;
    min-width: 33.33%;
}

#service-request-form label {
    min-width: 20%;
}

input,
select,
#products {
    display: inline-flex;
    width: calc(100% - 33.33%);
    border: none;
    border-bottom: 1px #1e1e1e solid;
    font-size: 1em;
}

#msg {
    width: 100%;
}

fieldset {
    margin-top: 1em;
}

legend {
    font-weight: 600;
}

.btn {
    padding: 1em;
    margin: 0.5em;
    display: inline-block;
    width: 45%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: #B42719;
    color: #fff;
    font-size: 100%;
    font-style: italic;
}

.form-field .checkbox ul {
    display: inline-block;
    width: 100%;
}

.form-field .checkbox {
    display: inline-block;
    width: 48%;
    border: 1px red solid;
}

.checkbox label {
    display: inline-block;
    width: auto;
}

.checkbox input {
    width: 10%;
}

#packs, #add-services {
    padding: 20px;
    width: 100%;
}

#packs ul,
#add-services ul {
    list-style: none;
    padding: 0px;
}

#packs input,
#add-services input {
    width: auto;
    margin-right: 15px;
}

#packs label {
    font-weight: bold;
}

#add-services {
    display: table;
    margin: auto;
}

#add-services div {
    display: table-row;
}

#add-services div ul {
    display: table-cell;
    width: auto;
    padding: 15px 0px;
    margin: 0px;
}

#add-services li {
    padding: 5px 0px;
    margin: 5px 0px;
}

#products {
    border: solid 1px;
}

/* new navbar */

nav {
    display: flex;
    flex-direction: row;
}

nav li {
    display: inline;
    list-style: none;
    background-color: #3498db;
    margin: 0px 2px;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: auto;
}

nav a {
    text-decoration: none;
    color: white;
}

.sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
}

.sub-menu li {
    display: flex;
    align-content: left;
    background-color: #b20000;
    z-index: 3;
    width: inherit;
    padding: 5px;
    margin: 1px;
}

.sub-menu li:hover {
    background-color: #ff3232;
    font: italic 1em serif;
}

#slider {
    height: inherit;
    width: inherit;
}

/*diji-devs page*/
.head-shot {
    display: inline-block;
    width: 23%;
    max-width: 23%;
    max-height: 250px;
    border: grey solid 1px;
    margin: 0.5%;
    text-align: center;
}

img.photo {
    max-height: 250px;
    max-width: 250px;
}

.form-field.block {

}

.buyOrBack {
  margin-top: 15px;
  text-align: center;
}